<app-admin-header></app-admin-header>
<div class="d-flex" style="min-height: 100vh;">
    <app-admin-sidebar></app-admin-sidebar>
    <main class="flex-grow-1 bg-light py-3 px-3">
<div class="container">
  <h2>Create Role</h2>
  <form [formGroup]="roleForm" (ngSubmit)="submit()">
    <div class="mb-3">
      <label class="form-label">Role Name</label>
      <input class="form-control" formControlName="name" />
      <div class="text-danger" *ngIf="roleForm.get('name')?.invalid && roleForm.get('name')?.touched">
        Name is required.
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Description</label>
      <textarea class="form-control" formControlName="description"></textarea>
    </div>

    <div class="mb-3">
      <label class="form-label">Permissions</label>
      <div *ngFor="let perm of allPermissions">
        <input
          type="checkbox"
          [value]="perm.id"
          (change)="onPermissionChange(perm.id, getCheckedValue($event))"
        />
        {{ perm.code }}
      </div>
    </div>

    <button class="btn btn-success" type="submit" [disabled]="roleForm.invalid">Create</button>
  </form>
</div>
</main>
</div>
<app-admin-footer></app-admin-footer>