<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
      
        <div class="sb-sidenav-menu-heading">Product Management</div>
        <a class="nav-link" routerLink="/admin/productList" routerLinkActive="active">
          <div class="sb-nav-link-icon"><i class="fas fa-calendar-check"></i></div>
          Product List
        </a>
        <a class="nav-link" routerLink="/admin/payments" routerLinkActive="active">
          <div class="sb-nav-link-icon"><i class="fas fa-credit-card"></i></div>
          Payment Methods
        </a>

        <div class="sb-sidenav-menu-heading">Account</div>
        <a class="nav-link" routerLink="/admin/cinemaAdmin/profile" routerLinkActive="active">
          <div class="sb-nav-link-icon"><i class="fas fa-user-circle"></i></div>
          Profile
        </a>

        <a class="nav-link" [routerLink]="['/admin/cinema/details', accountInfo.assignedCinemaId]"
          routerLinkActive="active">
          <div class="sb-nav-link-icon"><i class="fas fa-building"></i></div>
          {{ accountInfo.assignedCinemaName }}
        </a>
        <a class="nav-link" routerLink="/admin/bookings" routerLinkActive="active">
          <div class="sb-nav-link-icon"><i class="fas fa-calendar-check"></i></div>
          Bookings
        </a>


        <div class="sb-sidenav-menu-heading">Cinema Management</div>
        <a class="nav-link" routerLink="/admin/cinemas" routerLinkActive="active">
          <div class="sb-nav-link-icon"><i class="fas fa-theater-masks"></i></div>
          Cinemas
        </a>
        <a class="nav-link" routerLink="/admin/features" routerLinkActive="active">
          <div class="sb-nav-link-icon"><i class="fas fa-star"></i></div>
          Features
        </a>
        <a class="nav-link" routerLink="/admin/showtimes" routerLinkActive="active">
          <div class="sb-nav-link-icon"><i class="fas fa-calendar-alt"></i></div>
          Showtimes
        </a>
        <a class="nav-link" routerLink="/admin/seat-types" routerLinkActive="active">
          <div class="sb-nav-link-icon"><i class="fas fa-chair"></i></div>
          Seat Types
        </a>

        <div class="sb-sidenav-menu-heading">Movie Management</div>
        <a class="nav-link" routerLink="/admin/movies" routerLinkActive="active">
          <div class="sb-nav-link-icon"><i class="fas fa-film"></i></div>
          Movies
        </a>

        <a class="nav-link" routerLink="/admin/categories" routerLinkActive="active">
          <div class="sb-nav-link-icon"><i class="fas fa-tags"></i></div>
          Categories
        </a>
        <a class="nav-link" routerLink="/admin/casts" routerLinkActive="active">
          <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
          Casts
        </a>


        <div class="sb-sidenav-menu-heading">Account Management</div>
        <a class="nav-link" routerLink="/admin/cinema-admins" routerLinkActive="active">
          <div class="sb-nav-link-icon"><i class="fas fa-user-tie"></i></div>
          Cinema Admins
        </a>
        <a class="nav-link" routerLink="/admin/customers" routerLinkActive="active">
          <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
          Customers
        </a>

        <div class="sb-sidenav-menu-heading">Others</div>
        <a class="nav-link" routerLink="/admin/states" routerLinkActive="active">
          <div class="sb-nav-link-icon"><i class="fas fa-map-marker-alt"></i></div>
          States
        </a>
        <a class="nav-link" routerLink="/admin/townships" routerLinkActive="active">
          <div class="sb-nav-link-icon"><i class="fas fa-city"></i></div>
          Townships
        </a>
      </div>
    </div>

    <div class="sb-sidenav-footer">
      <div class="small">Logged in as:</div>
      {{ accountInfo.name || 'Admin User' }}
    </div>
  </nav>
</div>